img {
   text-align: center; 
   padding-top: 40px;
   padding-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   display: block;
   padding-top: 50%; 
   padding-bottom: 50%;
   padding: 250px 0px 0px;
   
   }
   
/* center {
   display: block;
   padding-top: 109px;
   text-align: center;
   height: 92px;
   width: 272px;
} */

.look {
    border: gray;
    margin: 0;
    padding: 0;
    /* display: flex; */
    flex: 100%;
    color: rgba(0,0,0,.87);
    border-radius: 100px;
    display: block;

    

    
} 

/* form */ input {
   margin-left: auto;
   margin-right: auto;
   width: 20%; 
   display: block; 
   padding-top: 50%;
   padding-bottom: 50%;
   padding: 25px 53px 0px;
   border-radius: 100px; 
   text-align: center;
   color: rgba(0,0,0,.87);

   /* border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 100%;
    color: rgba(0,0,0,.87); */
  
}

/* .left,
.right {
    list-style: none;
} */

.left {
    text-align: left;
    /* padding-top: 10px; */
    display: inline-block;
    margin-left: 25px;
    padding-top: 25px;
}

.right {
   /* text-align: right; */
    display: inline-block;
    float: right;
    margin-right: 25px;
    padding-top: 25px;
    
}

ul {
    list-style-type: none;
        margin: 0;
    padding: 0;
    
}


li {
    /* display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle; */
    display: inline-flex;
            
}

.google {
    text-align: center;
    padding-top: 35px;

}

.pixel {
    color: red;
    padding-top: 50px;
    
}

a {
    font-family: arial;
    font-size: 15px;
}

#left {
    float: left;
    /* text-align: left; */
    display: inline;
    padding-top: 175px;
}

#right {
    /* display: inline; */
    float: right;
    text-align: right;
    padding-top: 175px;
}